@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for iOS overscroll black areas */
html,
body {
  background-color: #f2e8d5;
  overscroll-behavior-y: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#root {
  background-color: #f2e8d5;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* You may need to import Baskerville font if it's not available on the user's system */
@layer base {
  @font-face {
    font-family: "Baskerville";
    src: local("Baskerville"), local("LibreBaskerville-Regular"),
      url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2)
        format("woff2");
    font-weight: normal;
    font-style: normal;
  }
}
